.wrapper {
  width: 100%;
  height: 100%;
}
.wrapper .left-wrapper {
  float: left;
  width: 60%;
  height: 100%;
  background: url("/images/login_bg.png") no-repeat center;
  background-size: contain;
}
.wrapper .right-wrapper {
  float: left;
  width: 40%;
  height: 100%;
  background-color: #6058e5;
  position: relative;
}
.wrapper .right-wrapper .info-box {
  width: 67%;
  margin: 0 auto;
}
.wrapper .right-wrapper .info-box .reg-title {
  width: 100%;
  text-align: center;
  margin: 23% auto 7.8%;
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
}
.wrapper .right-wrapper .info-box .find-pwd {
  width: 100%;
  text-align: center;
  margin: 39.7% auto 17.15%;
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
}
.wrapper .right-wrapper .info-box .headpic {
  width: 100%;
  margin: 15.49% auto;
  text-align: center;
}
.wrapper .right-wrapper .info-box .headpic img {
  width: 102px;
  height: 102px;
}
.wrapper .right-wrapper .info-box .item {
  min-height: 18px;
  line-height: 18px;
  margin-top: 34px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-left: 8px;
}
.wrapper .right-wrapper .info-box .item .header-box {
  width: 102px;
  height: 102px;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
}
.wrapper .right-wrapper .info-box .item .header-box .upload-pic {
  border-radius: 50%;
  width: 102px;
  height: 102px;
  margin: 0 auto;
}
.wrapper .right-wrapper .info-box .item .header-box .upload-file {
  display: none;
}
.wrapper .right-wrapper .info-box .item .desc {
  display: inline-block;
  min-width: 24%;
  font-size: 16px;
  margin-bottom: 18px;
}
.wrapper .right-wrapper .info-box .item .choose {
  display: inline-block;
  margin-bottom: 18px;
  margin-left: 1rem;
  font-size: 16px;
  cursor: pointer;
}
.wrapper .right-wrapper .info-box .item .choose:last-child {
  margin-left: 1.8rem;
}
.wrapper .right-wrapper .info-box .item .choose input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  display: none;
}
.wrapper .right-wrapper .info-box .item .choose span {
  border-radius: 50%;
  margin-right: 0.1rem;
  vertical-align: middle;
}
.wrapper .right-wrapper .info-box .item .choose input[type="radio"] + span {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-color: transparent;
  border: 1px solid #ffffff;
}
.wrapper .right-wrapper .info-box .item .choose input[type="radio"]:checked + span {
  background-color: #ffffff;
}
.wrapper .right-wrapper .info-box .item .info {
  display: inline-block;
  line-height: 3rem;
  height: 3rem;
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
}
.wrapper .right-wrapper .info-box .item.header-item {
  border-bottom: none;
}
.wrapper .right-wrapper .info-box .item.header-item .desc {
  margin-bottom: 0;
}
.wrapper .right-wrapper .info-box .login-btn {
  margin: 2rem auto 1.4rem;
}
.wrapper .right-wrapper .info-box .login-btn .sbtn {
  display: block;
  width: 100%;
  height: 47.2px;
  line-height: 47.2px;
  border-radius: 47.2px;
  text-align: center;
  color: #ffffff;
  background-color: #3acc6c;
  font-size: 20px;
  border: none;
  outline: none;
}
.wrapper .right-wrapper .info-box .login-btn .sbtn:active {
  background-color: #19ca55;
}
.wrapper .right-wrapper .info-box .forget-pwd {
  margin-top: 1.2rem;
  text-align: right;
}
.wrapper .right-wrapper .info-box .forget-pwd a {
  font-size: 16px;
  color: #ffffff;
}
.wrapper .right-wrapper .info-box .user-reg {
  text-align: center;
}
.wrapper .right-wrapper .info-box .user-reg a {
  font-size: 16px;
  color: #ffffff;
}
.wrapper .right-wrapper .info-box.find-box .item {
  min-height: 36px;
  line-height: 36px;
  padding-left: 0;
  margin-bottom: 36px;
}
.wrapper .right-wrapper .info-box.find-box .item .info {
  line-height: 36px;
  height: 36px;
}
.wrapper .right-wrapper .info-box.find-box .login-btn {
  margin-top: 38px;
}
.wrapper .right-wrapper .info-box.reg-box .item {
  min-height: 36px;
  line-height: 36px;
  padding-left: 0;
  margin-bottom: 30px;
}
.wrapper .right-wrapper .info-box.reg-box .item .info {
  height: 36px;
  line-height: 36px;
}
.wrapper .right-wrapper .info-box.reg-box .login-btn {
  margin-top: 38px;
}
.wrapper .right-wrapper .tips {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
}
.wrapper .right-wrapper .tips .tips-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 286px;
  height: 170px;
  background-color: #ffffff;
  border-radius: 12px;
  color: #4b4b5b;
}
.wrapper .right-wrapper .tips .tips-wrapper .tips-title {
  text-align: center;
  line-height: 60px;
  height: 60px;
  font-size: 22px;
}
.wrapper .right-wrapper .tips .tips-wrapper .tips-msg {
  width: 80%;
  margin: 0 auto;
  line-height: 22px;
  font-size: 15.2px;
  text-align: center;
}
.wrapper .right-wrapper .tips .tips-wrapper .btn-box {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 46px;
  line-height: 46px;
  border-top: 1px solid #dddddd;
}
.wrapper .right-wrapper .tips .tips-wrapper .btn-box a {
  float: left;
  width: 50%;
  text-align: center;
  color: #4b4b5b;
  font-size: 16px;
}
.wrapper .right-wrapper .tips .tips-wrapper .btn-box a.go-msg {
  border-right: 1px solid #dddddd;
  width: calc(50% - 1px);
}
