.right-wrapper {
  width: 3.08rem;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}
.right-wrapper .user-info {
  height: 1.2rem;
  position: relative;
  padding: 0.3rem 0;
}
.right-wrapper .user-info .left-pic {
  position: absolute;
  left: 0rem;
  width: 35%;
}
.right-wrapper .user-info .right-info {
  position: absolute;
  left: 35%;
  width: 65%;
}
.right-wrapper .user-info .headerpic {
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
}
.right-wrapper .list {
  text-indent: 0.56rem;
}
.right-wrapper .list .side-title {
  font-size: 0.28rem;
  color: #5c5a5a;
  margin: 0.2rem 0;
}
.right-wrapper .list .side-title.first-title {
  margin-top: 1.2rem;
}
.right-wrapper .list .menu > li {
  line-height: 0.48rem;
  min-height: 0.48rem;
  margin: 0.03248rem auto;
}
.right-wrapper .list .menu > li > a {
  color: #5c5a5a;
  font-size: 0.24rem;
  display: block;
  width: 2.04rem;
  margin: 0 auto;
  position: relative;
  text-indent: 0;
}
.right-wrapper .list .menu > li > a .iconfont {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.2rem;
  color: #666666;
}
.right-wrapper .list .menu > li > a.tabborder-bottom {
  padding-bottom: 0.12rem;
  border-bottom: 1px solid #666666;
}
.right-wrapper .list .menu > li.active {
  background-color: #6C63FF;
}
.right-wrapper .list .menu > li.active a {
  color: #ffffff;
  font-size: 0.24rem;
}
.right-wrapper .list .menu > li .secondary {
  display: none;
}
.right-wrapper .list .menu > li .secondary li {
  padding-left: 0.28rem;
}
.right-wrapper .list .menu > li .secondary li a {
  font-size: 0.2rem;
  color: #5c5a5a;
}
.right-wrapper .list.loginout a {
  display: block;
  width: 90%;
  border-radius: 4px;
  height: 0.5rem;
  margin: 0 auto;
  line-height: 0.5rem;
  background-color: #666666;
  color: #5c5a5a;
  font-size: 0.24rem;
  text-align: center;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.wrapper .left-wrapper {
  width: 100%;
  min-height: 100%;
  flex: 1;
  background-color: #ffffff;
  border-right: 1px solid #dddddd;
  position: relative;
}
.wrapper .left-wrapper .desc-menu {
  height: 1.6rem;
  line-height: 1.6rem;
  border-bottom: 1px solid #dddddd;
  font-size: 0.352rem;
  padding-left: 0.5rem;
  color: #5c5a5a;
}
.wrapper .left-wrapper .main-wrapper {
  width: 100%;
}
.main-wrapper {
  height: calc(100% - 1.6rem);
  overflow-y: auto;
}
.main-wrapper .title {
  height: 1.28rem;
  line-height: 1.28rem;
  text-align: center;
  font-size: 0.352rem;
  color: #5c5a5a;
}
.main-wrapper .main-box {
  width: 90.78%;
  margin: 0 auto 0.56rem;
}
.main-wrapper .main-box .info-box {
  width: 100%;
}
.main-wrapper .main-box .info-box .info-left {
  float: left;
  width: 60%;
  margin-right: 3%;
}
.main-wrapper .main-box .info-box .info-left p {
  font-size: 0.26rem;
  color: #5c5a5a;
  line-height: 0.52rem;
}
.main-wrapper .main-box .info-box .info-right {
  float: right;
  width: 37%;
  padding-top: 0.1rem;
}
.main-wrapper .main-box .info-box .info-right img {
  width: 100%;
  height: auto;
}
.main-wrapper .main-box .info-group {
  width: 100%;
  margin: 0.3rem auto;
}
.main-wrapper .main-box .info-group .item {
  float: left;
  width: 23.5%;
  margin-right: 2%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: 0.7rem;
}
.main-wrapper .main-box .info-group .item:last-child {
  margin-right: 0;
}
.main-wrapper .main-box .info-group .item .item-title {
  font-size: 0.352rem;
  color: #333333;
  line-height: 0.48rem;
  height: 0.48rem;
  text-align: center;
}
.main-wrapper .main-box .info-group .item .item-member {
  min-height: 1.5rem;
  padding: 0.32rem 0.8rem;
  overflow: hidden;
}
.main-wrapper .main-box .info-group .item .item-member .tips-item {
  float: left;
  width: 1.392rem;
  margin: 0.08rem 0;
  text-align: center;
  position: relative;
}
.main-wrapper .main-box .info-group .item .item-member .tips-item i {
  position: absolute;
  right: 0.24rem;
  font-size: 0.24rem;
  color: #6c63ff;
}
.main-wrapper .main-box .info-group .item .item-member .tips-item img {
  width: 1.032rem;
  height: 1.032rem;
  border-radius: 50%;
}
.main-wrapper .main-box .info-group .item .item-member .tips-item p {
  font-size: 0.24rem;
}
.main-wrapper .main-box .info-group .item .item-add {
  height: 0.76rem;
  width: 0.76rem;
  position: absolute;
  bottom: 0.05rem;
  left: 50%;
  margin-left: -0.38rem;
  border-radius: 50%;
  background: url("../images/add-meb.png") no-repeat center;
  background-size: contain;
}
.main-wrapper .main-box .back-btn {
  width: 100%;
  margin: 0.4rem auto 0.6rem;
  text-align: center;
}
.main-wrapper .main-box .back-btn .btn {
  display: block;
  width: 2.72rem;
  height: 0.76rem;
  margin: 0 auto;
  line-height: 0.76rem;
  background-color: #6c63ff;
  color: #ffffff;
  font-size: 0.28rem;
  border-radius: 30px;
  border: none;
  outline: none;
}
.tips-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.tips-wrapper .tips-box {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 9.96rem;
  height: 5.48rem;
  background-color: #ffffff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding-bottom: 1.24rem;
  border-radius: 4px;
  overflow: hidden;
}
.tips-wrapper .tips-box .tips-title {
  text-align: center;
  height: 0.896rem;
  line-height: 0.896rem;
  background-color: #6c63ff;
  color: #ffffff;
  font-size: 0.32rem;
  position: relative;
}
.tips-wrapper .tips-box .tips-title i {
  position: absolute;
  top: 0;
  right: 0.48rem;
  font-size: 0.36rem;
}
.tips-wrapper .tips-box .tips-main {
  height: 3.68rem;
  padding: 0.32rem 0.8rem;
  overflow: hidden;
}
.tips-wrapper .tips-box .tips-main .tips-item {
  float: left;
  width: 1.392rem;
  margin: 0.08rem 0;
  text-align: center;
  position: relative;
}
.tips-wrapper .tips-box .tips-main .tips-item i {
  position: absolute;
  right: 0.24rem;
  font-size: 0.24rem;
  color: #6c63ff;
}
.tips-wrapper .tips-box .tips-main .tips-item img {
  width: 1.032rem;
  height: 1.032rem;
  border-radius: 50%;
}
.tips-wrapper .tips-box .tips-main .tips-item p {
  font-size: 0.24rem;
}
.tips-wrapper .tips-box .tips-btns {
  height: 1.24rem;
  line-height: 3.64rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.tips-wrapper .tips-box .tips-btns a {
  float: left;
  width: 2.72rem;
  height: 0.76rem;
  line-height: 0.76rem;
  background-color: #6c63ff;
  color: #ffffff;
  border-radius: 0.76rem;
  text-align: center;
  margin-left: 1.4rem;
  margin-top: 0.24rem;
  font-size: 0.24rem;
}
.tips-wrapper.active {
  z-index: 999;
  opacity: 1;
}
