<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title><%= title%></title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0" id="viewport"
    name="viewport">
  <script src="/js/tool/rem.js"></script>
  <link rel="stylesheet" href="/style/ctool/common.css">
  <link rel="stylesheet" href="/style/base.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
          <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
      <![endif]-->
  <!--[if lt IE 9]>
          <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>
<div class="wrapper">
  <!-- 主内容区域 -->
  <div class="left-wrapper">
    <div class="desc-menu">寻找棱锥</div>
    <!-- 主要内容 -->
    <div class="main-wrapper">
      
    </div>
  </div>
  <!-- 右边导航部分 -->
  <%-include("share/sidebar")%>
</div>
<script src="/js/tool/landscape.js"></script>
<body>

</body>

</html>