<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title><%= title%></title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">

  <script src="/js/tool/rem.js"></script>
  <link rel="stylesheet" href="/style/ctool/common.css">
  <link rel="stylesheet" href="/style/ctool/iconfont.css">
  <link rel="stylesheet" href="/style/classTotalResult.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
          <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
      <![endif]-->
  <!--[if lt IE 9]>
          <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>
<div class="wrapper">
  <!-- 主内容区域 -->
  <div class="left-wrapper">
    <div class="desc-menu">课堂学习</div>
    <!-- 主要内容 -->
    <div class="main-wrapper">
        <h3 class="title">课堂学习测试结果统计报告</h3>
        <div class="main-box">
            <div class="mark-box">
                <p class="mark-title">学生成绩</p>
            </div>
            <div class="detail-box clearfix">
                <div class="detail-left">
                    <p class="main-title">班级正确率:</p>
                    <div class="right-box">
                        <div class="line-box clearfix">
                            <div class="line-item"></div>
                            <div class="line-item"></div>
                            <div class="line-item last-item"></div>
                        </div>
                        <p class="right-title">各小题正确率：</p>
                        <div class="detail-table clearfix">
                            <div class="table-left">
                                <table>
                                    <tr>
                                        <td class="td-title">题号</td>
                                        <td>1(1)</td>
                                        <td>1(2)</td>
                                        <td>2(1)</td>
                                        <td>2(2)</td>
                                        <td>2(3)</td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">正确率</td>
                                        <td>94%</td>
                                        <td>94%</td>
                                        <td>94%</td>
                                        <td>94%</td>
                                        <td>94%</td>
                                    </tr>
                                </table>
                                <p class="desc">表面积检测</p>
                            </div>
                            <div class="table-right">
                                <table>
                                    <tr>
                                        <td class="td-title">题号</td>
                                        <td>1(1)</td>
                                        <td>1(2)</td>
                                        <td>2(1)</td>
                                        <td>2(2)</td>
                                        <td>2(3)</td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">正确率</td>
                                        <td>94%</td>
                                        <td>94%</td>
                                        <td>94%</td>
                                        <td>94%</td>
                                        <td>94%</td>
                                    </tr>
                                </table>
                                <p class="desc">体积检测</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-right">
                    <p class="main-title">答错分布:</p>
                    <div class="wrong-box"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- 右边导航部分 -->
  <%-include("share/sidebar")%>
</div>
<script src="/js/tool/landscape.js"></script>
<script src="/js/common.js"></script>
<body>

</body>

</html>