<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0" id="viewport" name="viewport">
    <link rel="stylesheet" href="/style/ctool/common.css">
    <link rel="stylesheet" href="/style/login.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!--[if !IE]> -->
    <script type="text/javascript" src="/js/tool/jquery.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
          <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
      <![endif]-->
    <!--[if lt IE 9]>
          <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
  </head>
<body>
    <div class="wrapper clearfix">
        <div class="left-wrapper"></div>
        <div class="right-wrapper">
            <%if(tab == 'login'){%>
            <!--登录 -->
            <div class="info-box">
                <div class="headpic">
                    <img src="/images/default.png" alt="default">
                </div>
                <form action="" method="POST">
                    <div class="item">
                        <label class="desc">选择身份</label>
                        <label class="choose">
                            <input type="radio" name="identity" value="teacher" checked>
                            <span></span>
                            教师
                        </label>
                        <label class="choose">
                            <input type="radio" name="identity" value="student">
                            <span></span>
                            学生
                        </label>
                    </div>
                    <div class="item">
                        <label class="desc">用户名</label>
                        <input type="text" class="info">
                    </div>
                    <div class="item">
                        <label class="desc">密码</label>
                        <input type="text" class="info">
                    </div>
                    <p class="forget-pwd"><a href="/findpwd.html">忘记密码？</a></p>
                    <div class="login-btn">
                        <input type="submit" class="sbtn" value="登录">
                    </div>
                    <p class="user-reg"><a href="">新用户注册</a></p>
                </form>
            </div>
            <%}%>
            <%if(tab == 'findpwd'){%>
            <!-- 找回密码 -->
            <div class="info-box find-box">
                <h3 class="find-pwd">找回密码</h3>
                <form action="" method="POST">
                    <div class="item">
                        <label class="desc">选择身份</label>
                        <label class="choose">
                            <input type="radio" name="identity" value="teacher" checked>
                            <span></span>
                            教师
                        </label>
                        <label class="choose">
                            <input type="radio" name="identity" value="student">
                            <span></span>
                            学生
                        </label>
                    </div>
                    <div class="item">
                        <label class="desc">用户名</label>
                        <input type="text" class="info">
                    </div>
                    <div class="login-btn">
                        <input type="submit" class="sbtn" value="下一步">
                    </div>
                </form>
                <div class="tips">
                    <p class="tips-title">提交成功</p>
                    <p class="tips-msg">验证邮箱已发送到你的邮箱，请注意查收验证邮箱已发送到你的</p>
                    <div class="btn-box">
                        <a href="" class="go-msg">进入邮箱</a>
                        <a href="">返回登录界面</a>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</body>
</html>