<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title><%= title%></title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">

  <script src="/js/tool/rem.js"></script>
  <link rel="stylesheet" href="/style/ctool/common.css">
  <link rel="stylesheet" href="/style/ctool/iconfont.css">
  <link rel="stylesheet" href="/style/PraafterClass.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
          <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
      <![endif]-->
  <!--[if lt IE 9]>
          <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>
<div class="wrapper">
  <!-- 主内容区域 -->
  <div class="left-wrapper">
    <div class="desc-menu">课后练习</div>
    <!-- 主要内容 -->
    <div class="main-wrapper">
        <h3 class="title">推送教学课件</h3>
        <div class="main-box">
            <div class="upload-box">
                <p class="icon-upload"><i class="iconfont icon-shangchuan"></i></p>
                <p class="upload-desc">选择需要上传的课件,支持PDF,PPTX,DOCX,JPG,MP4等常见文档 图片 视频格式</p>
                <div class="next-btn"><button class="nbtn">浏览文件</button></div>
            </div>
            <%for(var i=0;i<3;i++) {%>
            <div class="item clearfix">
                <div class="item-icon"><img src="/images/group-pic.png" alt="group-pic"></div>
                <div class="item-desc">
                    <p class="item-name">选择需要上传的课件</p>
                    <p class="item-process">6.5/12.8M <span class="item-num">258K/S</span></p>
                    <div class="process"><p class="pro-num"></p></div>
                </div>
                <div class="item-tag"><i class="iconfont icon-xuanzhong"></i></div>
            </div>
            <%}%>
            <div class="back-btn"><button class="btn">下一步</button></div>
        </div>
    </div>
  </div>
  <!-- 右边导航部分 -->
  <%-include("share/sidebar")%>
</div>
<script src="/js/tool/landscape.js"></script>
<script src="/js/common.js"></script>
<body>

</body>

</html>