<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0" id="viewport" name="viewport">
    <link rel="stylesheet" href="/style/ctool/common.css">
    <link rel="stylesheet" href="/style/login.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!--[if !IE]> -->
    <script type="text/javascript" src="/js/tool/jquery.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
          <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
      <![endif]-->
    <!--[if lt IE 9]>
          <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
  </head>
<body>
    <div class="wrapper clearfix">
        <div class="left-wrapper"></div>
        <div class="right-wrapper">
            <!--注册 -->
            <div class="info-box reg-box">
                <h3 class="reg-title">新用户注册</h2>
                <form action="" method="POST">
                    <div class="item header-item">
                        <label class="desc">上传头像</label>
                        <div class="header-box">
                            <img class="upload-pic" src="/images/default.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <label class="desc">姓名</label>
                        <input type="text" class="info">
                    </div>
                    <div class="item">
                        <label class="desc">密码</label>
                        <input type="text" class="info">
                    </div>
                    <div class="item">
                        <label class="desc">确认密码</label>
                        <input type="text" class="info">
                    </div>
                    <div class="login-btn">
                        <input type="submit" class="sbtn" value="确认注册">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>