<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title><%= title%></title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0" id="viewport"
    name="viewport">
  <script src="/js/tool/rem.js"></script>
  <link rel="stylesheet" href="/style/ctool/common.css">
  <link rel="stylesheet" href="/style/sideAreaFormula.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
          <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
      <![endif]-->
  <!--[if lt IE 9]>
          <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>
<div class="wrapper">
  <!-- 主内容区域 -->
  <div class="left-wrapper">
    <div class="desc-menu">寻找棱锥</div>
    <!-- 主要内容 -->
    <div class="main-wrapper">
        <h3 class="title">侧面积公式</h3>
        <div class="list-box">
            <% for(var i=0;i<2;i++) {%>
              <div class="list">
                  <p class="list-req"><span>题目0<%= i+1%></span>：正三棱锥的高为6,底面边长为4,求它的侧面积应该用什么公式？</p>
                  <div class="answer-box clearfix">
                      <div class="answerlist-box">
                          <div class="answerlist">(A):</div>
                          <div class="answerlist">(B):</div>
                          <div class="answerlist">(C):</div>
                          <div class="answerlist">(D):</div>
                      </div>
                      <div>
                        <img src="" alt="">
                      </div>
                  </div>
                </div>
          <%}%>
          <p class="list-req answerd-req"><span>答案：</span></p>
          <div class="answerd clearfix">
              <div class="item">
                  <p class="order"><span>01</span></p>
                  <div class="answerd-box clearfix">
                      <label class="choose">
                          <input type="radio" name="req1" value="A" checked>
                          <span></span>A
                        </label>
                        <label class="choose">
                          <input type="radio" name="req1" value="B">
                          <span></span>B
                        </label>
                        <label class="choose">
                          <input type="radio" name="req1" value="C">
                          <span></span>C
                        </label>
                        <label class="choose">
                          <input type="radio" name="req1" value="D">
                          <span></span>D
                        </label>
                  </div>
              </div>
              <div class="item">
                  <p class="order"><span>02</span></p>
                  <div class="answerd-box">
                      <input type="text" name="req2" placeholder="请输入答案" class="req2">
                  </div>
              </div>
          </div>
          <div class="ansowerd-btn"><button class="btn">提交答案</button></div>
        </div>
    </div>
    <div class="tips">
        <div class="main-tips" style="display: none">
          <img class="tip-img" src="/images/default.png" alt="">
          <p class="tips-title">本轮结束</p>
          <div class="tips-msg">
              <p>恭喜你，本轮答题结束！</p>
              <p>我们根据你的作答情况，智能为你推送了以下联系，请继续答题以巩固所学知识</p>
          </div>
          <div class="tips-btn"><button class="tbtn gbtn">继续答题</button></div>
        </div>
        <div class="main-tips">
          <img class="tip-img" src="/images/default.png" alt="">
          <p class="tips-title">答题结束</p>
          <div class="tips-msg">
              <p>恭喜你，已答完所有题目！</p>
              <p>系统已自动帮你计算好分数，快快点击查看吧！</p>
          </div>
          <div class="tips-btn"><button class="cbtn tbtn">查看成绩</button></div>
        </div>
    </div>
  </div>
  <!-- 右边导航部分 -->
  <%-include("share/sidebar")%>
</div>
<script src="/js/tool/landscape.js"></script>
<script type="text/javascript">
  $(".btn").on("click",function(){
    var answer1 =  $.trim($('input:radio[name="req1"]:checked').val());
    var answer2 = $.trim($(".req2").val());
    $.ajax({
      type:'post',
      url:'',
      dataType:'json',
      data:{'answer1':answer1,'answer2':answer1},
      success:function(res){
        if(res){

        }else{
          
        }
      }
    })
  })
  //继续答题
  $(".gbtn").on("click",function(){
    $(".tips").removeClass('active');
  })
  //查看成绩
  $(".cbtn").on("click",function(){
    window.location.href = '/login.html'
  })
</script>
<body>

</body>

</html>