<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title><%= title%></title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">

  <script src="/js/tool/rem.js"></script>
  <link rel="stylesheet" href="/style/ctool/common.css">
  <link rel="stylesheet" href="/style/ctool/iconfont.css">
  <link rel="stylesheet" href="/style/testReport.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
          <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
      <![endif]-->
  <!--[if lt IE 9]>
          <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>
<div class="wrapper">
  <!-- 主内容区域 -->
  <div class="left-wrapper">
    <div class="desc-menu">在线测试</div>
    <!-- 主要内容 -->
    <div class="main-wrapper">
        <h3 class="title">在线测试成绩报告单</h3>
        <div class="main-box">
            <div class="situation-box">
                <p class="main-title">成绩概况:</p>
                <div class="situation-detail clearfix">
                    <div class="item">分数: <span class="score">98</span></div>
                    <div class="item">班级排名: <span class="order">08</span></div>
                    <div class="item">正确率: <span class="rights">80%</span></div>
                    <div class="item">用时: <span class="time">14分08秒</span></div>
                </div>
            </div>

            <div class="detail-box clearfix">
                <div class="detail-left">
                    <p class="main-title">得分详情:</p>
                    <table>
                        <thead>
                            <tr>
                                <th>正确答案</th>
                                <th>你的答案</th>
                                <th>得分</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(var i=0;i<5;i++){%>
                            <tr>
                                <td><i><%= 1+1%></i><span>A</span><span>B</span><span>C</span><span>D</span><span>E</span></td>
                                <td><span>A</span><span>B</span><span>C</span><span>D</span><span>E</span></td>
                                <td class="use-time">+5分</td>
                            </tr>
                            <%}%>
                        </tbody>
                    </table>
                    <div class="total">总得分: <span>14</span>分</div>
                </div>
                <div class="detail-right">
                    <p class="main-title">成绩排行榜:</p>
                    <table>
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>分数</th>
                                <th>答题用时</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(var i=0;i<5;i++){%>
                            <tr>
                                <td><i><%= 1+1%></i><img src="/images/default.png" class="head-pic" alt="default"><span>流星雨</span></td>
                                <td>100分</td>
                                <td class="use-time">09分45秒</td>
                            </tr>
                            <%}%>
                        </tbody>
                    </table>
                    <div class="btn-box"><a href="javascript:void(0)" class="cbtn">查看全部</a></div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- 右边导航部分 -->
  <%-include("share/sidebar")%>
</div>
<script src="/js/tool/landscape.js"></script>
<script src="/js/common.js"></script>
<body>

</body>

</html>