<!-- 右边导航部分 -->
<div class="right-wrapper">
    <div class="user-info clearfix" style="display: none">
        <div class="left-pic">
            <img src="images/user.png" alt="headerpic" class="headerpic">
        </div>
        <div class="right-info">
            <p class="user-name">Jordon J</p>
            <p class="user-name">Administrator</p>
        </div>
    </div>
    <div class="list">
        <p class="side-title">课前预习</span>
        <ul class="before-class menu">
            <li class="active">
                <a href="https://www.baidu.com">在线测试</a>
            </li>
            <li>
                <a href="https://www.baidu.com">寻找棱锥</a>
            </li>
            <li>
                <a href="https://www.baidu.com">制作棱锥</a>
            </li>
        </ul>
    </div>
    <div class="list">
        <p class="side-title">课堂学习</span>
        <ul class="lesson-learn menu">
            <li>
                <a href="">作业分享</a>
            </li>
            <li>
                <a href="javascript:void(0);" class="tab-btn">正棱锥表面积
                    <span class="iconfont icon-sanjiaoxing1"></span>
                </a>
                <ul class="secondary">
                    <li>
                        <a href="">视频分享</a>
                    </li>
                    <li>
                        <a href="">侧面积公式</a>
                    </li>
                    <li>
                        <a href="">表面积公式</a>
                    </li>
                    <li>
                        <a href="">计算表面积</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="tab-btn">正棱锥体积
                        <span class="iconfont icon-sanjiaoxing1"></span>
                </a>
                <ul class="secondary">
                    <li>
                        <a href="">体积公式</a>
                    </li>
                    <li>
                        <a href="">计算体积</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="tab-btn">在线关系
                    <span class="iconfont icon-sanjiaoxing1"></span>
                </a>
                <ul class="secondary">
                    <li>
                        <a href="">分组讨论</a>
                    </li>
                    <li>
                        <a href="">小组汇报</a>
                    </li>
                </ul>
            </li>
            <li><a href="">课堂总结</a></li>
        </ul>
    </div>

    <div class="list">
        <p class="side-title">课后拓展</span>
        <ul class="after-class menu">
            <li>
                <a href="">课后习题</a>
            </li>
            <li>
                <a href="">课后实验</a>
            </li>
            <li>
                <a href="">分享体会</a>
            </li>
        </ul>
    </div>
    <div class="loginout list" style="display: none">
        <a href="">退出登录</a>
    </div>
</div>